.text-center {
    text-align: center;
}

body {
    background-color: bisque;
}

p {
    font-size: xx-large;
}

.zus2 {
    background-color: blue;
    width: 1913px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    margin: 0; 
    padding: 0;
}

.zus2:hover {
    transform: scale(1.1);
    }

.zus1 {
    background-color: green;
    width: 1913px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; 
    padding: 0;
    transition: transform 0.3s ease;
}
.zus1:hover {
    transform: scale(1.1);
}