* {
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px; 
    height: 101px;
    
}

body {
    background: linear-gradient( #181a1f, #000000, #000000)
}

h1 {
    font-size: 4em; 
    background: linear-gradient(to right, #55255f, #5525ad, #6d0bcf); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

p {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.zus1, .zus2, .zus3, .zus4 {
    width: 100%; 
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    text-decoration: none; 
}

.zus1 {
    background-color: #3500D3;
    color: black;
}

.zus1:hover {
    transform: scale(1.1);
}

.zus2 {
    background-color: #240090;
}

.zus2:hover {
    transform: scale(1.1);
}

.zus3 {
    background-color: #190061; 
}

.zus3:hover {
    transform: scale(1.1);
}

.zus4 {
    color: aliceblue;
    background-color: #282828;
}

.zus4:hover {
    transform: scale(1.1);
}

h1 {
    font-family: 'Marker Felt', fantasy;
}